@model IEnumerable<TCM_Supermercado1.Models.PedidoLista>

@{
    ViewBag.Title = "Pedidos";
}
<link href="~/css/pedido.css" rel="stylesheet" />

<h2 id=paragrafo>Lista de Pedidos</h2>

<table class="table table-striped table-bordered bg-white">
    <thead>
        <tr>
            <th>Código</th>
            <th>Funcionário</th>
            <th>Cliente</th>
            <th>Tipo Pagamento</th>
            <th>Data do Pedido</th>
            <th>Total (R$)</th>
            <th>Estado</th>
            <th>Endereço</th>
            <th>Complemento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in Model)
        {
            <tr>
                <td>@pedido.cod_pedido</td>
                <td>@pedido.nome_funcionario</td>
                <td>@pedido.nome_cliente</td>
                <td>@pedido.tipo_pagamento</td>
                <td>@pedido.data_pedido.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@pedido.total.ToString("F2")</td>
                <td>@pedido.estado_uf</td>
                <td>@pedido.endereco_pedido</td>
                <td>@pedido.complemento_pedido</td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex gap-2">
    <a asp-controller="Produto" asp-action="Index" class="btn btn-primary">Voltar</a>
    <a asp-controller="Pedido" asp-action="CadastrarPedido" class="btn btn-primary">Novo Pedido</a>
</div>
